.html {width: 100%; height: 100%;}
.body {margin:0; width: 100%; min-height: 100%;}
.iframe {width: 100%; height: 100%;}
.t {background-color: red;border: 2px solid black; }
.header {justify-content: center; background-color: #4c4c4c; padding: 2%;}
h1 {text-align: center; color: white; font-family: "Helvetica"; line-height: inherit; font-size: 4em}
#info {text-align: right;}
h3, h4 , h5 ,h6 {color: #4d4d4d;}
h4 {font-weight: bold;}
.ph {margin-bottom: 1em;}
p {margin: 0;}



  @media only screen and (max-width: 768px) {
    #info {
      text-align: left;
    }
  }
